################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Step-by-step RPG/v16/Browse.VC.opendb
